<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/a75ff89abd.js" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
