@model web2Blank.Models.User
@{
    ViewBag.Title = "AnyThing";
}

<h2>@ViewBag.Title</h2>

<p>This is kinda typical.  This is kinda typical.  This is kinda typical.  This is kinda typical.  This is kinda typical.  This is kinda typical.  This is kinda typical.  This is kinda typical.  This is kinda typical.</p>
@Html.Partial("Card", Model)

