
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p> Enter an ID.</p>

@using (Html.BeginForm()) 
{ 
    <div class="some-spacing">
        @Html.DropDownList("lstIDs", (IEnumerable<SelectListItem>)ViewData["IDList"])
    </div>

    <button id="btnSetID" name="btnSubmit" value="set">Set ID</button>
    <button id="btnSetID" name="btnSubmit" value="address">Show Address</button>
}

